---
layout: home
---
<div class="wrapper">
  <section id="bio" class="bio">
    <h1 class="lg-heading text-center">
      <!-- <i class="fa fa-id-card" aria-hidden="true"></i> -->
      ABOUT ME
    </h1>
    <div class="bio-body">
      <p> {{ site.data.bio.normal.content }} </p>
    </div>
    <video class="bio-video" poster="{{ site.data.bio.open_video_poster | prepend: site.baseurl }}" controls autoplay>
      <source src="{{ site.data.bio.open_video | prepend: site.baseurl }}"  type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </section>
</div>

<div class="seperate-line"></div>

<div class="wrapper">
  <section id="portfolio" class="portfolio">
    <h1 class="lg-heading text-center">
      A.I. PROJECTS
    </h1>
    {% include portfolio.html %}
  </section>
</div>

<div class="seperate-line"></div>

<div class="wrapper">
  <section id="misc-projects" class="misc-projects">
    <h1 class="lg-heading text-center">
      MISC PROJECTS
    </h1>
    {% include more.html %}
  </section>
</div>
