<div id="profile-cover" class="cover shallow-bg img-responsive">
  {{ site.static_files.path }}
  <div class="slogan">
    {{bio.slogan}}
    <div class="slogan-title">
      <span style="text-decoration: underline white;">
        Hi, I am Tianqi Zhou.
      </span>
    </div>
    <div class="slogan-title">
      <span style="text-decoration: underline white;">
        I design A.I.
      </span>
    </div>
    <div class="slogan-table">
      <div class="slogan-row">
        <div class="slogan-subtitle">
          <img src="{{ '/img/solid-dot.png' | prepend: site.baseurl }}" alt="">
          Artificial
        </div>
        <div class="slogan-subtitle">
          <img src="{{ '/img/dashed-dot.png' | prepend: site.baseurl }}" alt="">
          Intelligence
        </div>
      </div>
      <div class="slogan-row">
        <div class="slogan-subtitle">
          <img src="{{ '/img/solid-dot.png' | prepend: site.baseurl }}" alt="">
          Ambient
        </div>
        <div class="slogan-subtitle">
          <img src="{{ '/img/dashed-dot.png' | prepend: site.baseurl }}" alt="">
          Interaction
        </div>
      </div>
      <div class="slogan-row">
        <div class="slogan-subtitle">
          <img src="{{ '/img/solid-dot.png' | prepend: site.baseurl }}" alt="">
          Amicable
        </div>
        <div class="slogan-subtitle">
          <img src="{{ '/img/dashed-dot.png' | prepend: site.baseurl }}" alt="">
          Interface
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function deepFeature()
  {
    $('#profile-avatar').attr('src', '{{ site.data.bio.deep_pic | prepend: site.baseurl }}');
    $('#profile-avatar').removeClass('border-dark');
    $('#profile-avatar').addClass('border-bright');

    $('#profile-cover').removeClass('shallow-bg');
    $('#profile-cover').addClass('deep-bg');

    $('#profile-namecard').removeClass('wrapper-light');
    $('#profile-namecard').addClass('wrapper-dark');

    $('#my-desc').removeClass('hide');
    $('#my-contact').addClass('hide');
    // console.log('Move in now...');
  }

  function shallowFeature()
  {
    $('#profile-avatar').attr('src', '{{ site.data.bio.head_pic | prepend: site.baseurl }}');
    $('#profile-avatar').removeClass('border-bright');
    $('#profile-avatar').addClass('border-dark');

    $('#profile-cover').removeClass('deep-bg');
    $('#profile-cover').addClass('shallow-bg');

    $('#profile-namecard').removeClass('wrapper-dark');
    $('#profile-namecard').addClass('wrapper-light');

    $('#my-contact').removeClass('hide');
    $('#my-desc').addClass('hide');
    // console.log('Move out now...');
  }

  $(function() {
    $('#my-pic').hover(deepFeature, shallowFeature);
  })

</script>
