<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <h2 class="footer-heading">
        <a class="page-link" href="{{ '/about' | prepend: site.url }}">
        {{ site.title | prepend: 'More About ' }}
      </a></h2>

      <a class="footer-col" href="mailto:{{ site.email }}">
        <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
        {{ site.data.bio.email }}
      </a>
      <a class="footer-col" href="/">
        <i class="fa fa-address-book-o" aria-hidden="true"></i>
        {{ site.data.bio.phone }}
      </a>
    </div>

    <div class="footer-social">
      {% include interactive-social.html %}
    </div>
  </div>

</footer>
