<div class="portfolio-navigator"></div>
<div class="portfolio-body">
  {% for project in site.data.projects %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="portfolio-item">
      <a href="{{ project.link | prepend: site.baseurl }}">

      {% if thecycle == 'odd' %}
      <div class="portfolio-container hvr-grow-rotate-right">
      {% else %}
      <div class="portfolio-container hvr-grow-rotate-left">
      {% endif %}
        <div class="portfolio-date">
          {{ project.date }}
        </div>
        <div class="portfolio-title">
            {{ project.name }}
        </div>
        <div class="portfolio-institute">
          {{ project.institute }}
        </div>
        {% for duty in project.duties %}
          <div class="portfolio-desc">
            {{ duty.name }}
          </div>
        {% endfor %}
      </div></a>
    </div>
  {% endfor %}
</div>
