<div class="portfolio-navigator"></div>

<div class="portfolio-body">
  {% for project in site.data.projects %}
    <div class="portfolio-item">
      <div class="portfolio-container hvr-back-pulse">
        <div class="portfolio-date">
          {{ project.date }}
        </div>
        <div class="portfolio-title">
          <a href="{{ project.link | prepend: site.baseurl }}">
            {{ project.name }}
          </a>
        </div>
        <div class="portfolio-institute">
          {{ project.institute }}
        </div>
        {% for duty in project.duties %}
          <div class="portfolio-desc">
            {{ duty.name }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
