.misc-projects {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 5px 0;
}

.misc-body {
  width: -webkit-calc(100% - ( #{$spacing-unit} ));
  width:         calc(100% - ( #{$spacing-unit} ));
  // display: inline-block;
}

.misc-left {
  float: left;
  height: 120px;
  width:  120px;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.misc-right {
  float: left;
  display: table;
  padding-left: $spacing-unit;
  height: 120px;
  width: -webkit-calc(100% - unquote( 120px + #{$spacing-unit} ) );
  width:        -calc(100% - unquote( 120px + #{$spacing-unit} ) );
}

.misc-icon {
  max-height: 64%;
  max-width:  64%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // display: block;
  margin:  auto;
  width:   auto;
  height:  auto;
}

.misc-title {
  font-family: $base-font-family;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
}

.misc-basic {
  position: relative;
  padding-top:    $spacing-unit;
  padding-bottom: $spacing-unit;
  padding-left:   $spacing-unit;
  padding-right:  $spacing-unit;
  width: -webkit-calc(100% - ( 2 * #{$spacing-unit} ));
  width:         calc(100% - ( 2 * #{$spacing-unit} ));
}

.misc-entry.is-collapsed .misc-basic {
  cursor: pointer;
}

.misc-expand {
  position: relative;
  left: -5px;
  padding: 0 5px;
  box-sizing: content-box;
  overflow: hidden;
  background: $grey-color-plus;
  max-height: 0;
  transition: max-height .3s ease-in-out,
              margin-bottom .1s .2s;
}

.misc-entry.is-expanded .misc-expand {
  max-height: 340px;
  margin-bottom: 10px;
}

.misc-entry.is-collapsed .arrow-up {
  height: 10px;
  width: 100%;
}

.misc-entry.is-expanded .arrow-up {
  border-bottom: 8px solid $grey-color-plus;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  width: 0;
  margin: 2px auto 0;
}

.misc-entry {
  width: 50%;
  float: left;
}

.misc-entry:nth-of-type(2n+2) .misc-expand {
  margin-left: -100%;
}

.misc-entry:nth-of-type(2n+3) {
  clear:left;
}

.misc-expand {
  width: 200%;
}

@include media-query($on-palm) {
  .misc-entry {
    width: 100%;
  }
  .misc-entry:nth-of-type(2n+2) .misc-expand {
    margin-left: 0px;
  }

  .misc-entry:nth-of-type(2n+3) {
    clear:left;
  }

  .misc-expand {
    width: 100%;
  }
}

@keyframes slider {
  0% { left: 0; }
  30% { left: 0; }
  33% { left: -100%; }
  63% { left: -100%; }
  66% { left: -200%; }
  95% { left: -200%; }
  100% { left: 0; }
}

.slide-wrapper {
  display: inline-block;
  overflow: hidden;
  float: left;
  width: -webkit-calc(50% - ( #{$spacing-unit} ));
  width:         calc(50% - ( #{$spacing-unit} ));
  -webkit-animation: slider 10s infinite;
}

.slide {
  float: left;
  background-color: $grey-color-dark;
  margin: #{$spacing-unit};
  width: -webkit-calc(100% - ( 2 * #{$spacing-unit} ));
  width: -webkit-calc(100% - ( 2 * #{$spacing-unit} ));
}

.slide-image {
  display: block;
  height: 280px;
  margin: 0 auto;
  box-sizing: border-box;
  image-orientation: from-image;
}

.misc-details-text {
  width: -webkit-calc(50% - ( #{$spacing-unit} ));
  width:         calc(50% - ( #{$spacing-unit} ));
  float:    left;
  overflow: hidden;
  padding-top: $spacing-unit;
  padding-right: $spacing-unit;
  color: $grey-color-bright;
  font-size: 14px;
  h5 {
    padding-top: $spacing-unit / 2;
    font-size: 18px;
    font-weight: 500;
  }
}

.misc-details-expo {
  width: 50%;
  float: left;
}

.misc-close:before {
  content: '×';
}

.misc-close,
.misc-close:before {
  position: absolute;
  top: 10px;
  right: 20px;
  color: $grey-color;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none;
}

.misc-close:hover {
  color: $grey-color-light;
}
